<div class="w-100 ">
    <div class="row">
        <div class="col-12 color-strip">
            <h1>ARCHIVO DE NOTICIAS</h1>
        </div>
    </div>
</div>

<div class="container noticias-container">

    
    <div class="row">

        <article class="col-md-6" *ngFor="let noticia of listNoticias; let i = index">
            <div class="editor" >
                <button  type="button" class="btn btn-primary btn-sm" (click)="this.openModalEditarNoticia(i)">EDITAR</button>
                <button  type="button" class="btn btn-danger  btn-sm" (click)="this.openModalBorrarNoticia(i)">BORRAR</button>
            </div>

            <h2> {{noticia['titulo']}}
                <span> {{noticia['fecha'] | date: 'dd/MM/y'}}</span>
            </h2>
            
            <img  src="{{noticia['imagen_titulo']['url']}}" width="100">
            <div [innerHTML]="noticia['content'].substring(0, 171)"></div>
            <a href="https://www3.labanca.com.uy/noticias/show/{{noticia['id']}}">Seguir Leyendo</a>

           

        </article>
    </div>
</div>