<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Editar Noticia</h4>
</div>
<div class="modal-body">
    <form>
        <div class="mb-3">
            <textarea
                name="descripcion"
                class="form-control"
                cols=60
                rows=10
                [(ngModel)]="descripcion"
            >
            </textarea>
            
        </div>
    </form>
</div>
<div class="modal-footer">
    
    <button type="button" class="btn btn-outline-dark" aria-label="Cancelar" (click)="onDismiss('Cancelar')">Cancelar</button>
    <button type="submit" class="btn btn-success" (click)="onGuardar()">Guardar</button>
    
</div>
